.mainmenuitem {
    color:  @invertedColor;
}

.mainmenuitem[data-checked] .menutext {
    color: @titleBarTextColor;
    fill: @titleBarTextColor;
}

.menuitem[data-checked] .menutext {
    color: @titleBarTextColor;
    fill: @titleBarTextColor;
}